<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>

    <div>
      <a href="/">Home</a>

      <% @user = User.find_by({ "id" => session["user_id"] }) %>

      <% if @user == nil %>
        <a href="/users/new">Sign Up</a>
        <a href="/login">Login</a>
      <% else %>
        Logged in as: <%= @user["username"] %>
        <a href="/logout">Logout</a>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>